<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <title>Kassa</title>
  </head>
  <body>
      <nav class="navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="dashboard.php">Kuuku kassa</a>
              </div>
              <ul class="nav navbar-nav">
                  <li><a href="orders.html">Tellimused</a></li>
                  <li><a href="sales.php">Müügid</a></li>
                  <li><a href="demos.html">Demod</a></li>
                  <li class="active"><a href="cashbox.html">Kassa</a></li>
              </ul>
          </div>
      </nav>
      
    
  
  </body>
</html>