<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>Pakke tehtud kokku:</td>
                    <td id="sumOfProduct"></td>
                </tr>
                <tr>
                    <td>Pakke müüdud kokku:</td>
                    <td id="sumOfSales"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>Jaemüügid:</td>
                    <td id="retailSale"></td>
                </tr>
                <tr>
                    <td>Hulgimüügid:</td>
                    <td id="wholeSale"></td>
                </tr>
                <tr>
                    <td>Laadamüügid:</td>
                    <td id="fairSale"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>Ootel tellmusi:</td>
                    <td id="ordersInLine"></td>
                </tr>
                <tr>
                    <td>Jaetellmused:</td>
                    <td id="ordersRetail"></td>
                </tr>
                <tr>
                    <td>Hulgitellimused</td>
                    <td id="ordersWholesale"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>Demo kulu:</td>
                    <td id="demoPacks"></td>
                </tr>
                <tr>
                    <td>Pakke laos:</td>
                    <td id="productInStock"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form id="queryTable" action="?page=dashboard" method="POST" class="form-inline">
                <div class="form-group">
                    <label for="cN">Kliendi nimi:</label>
                    <input type="text" class="form-control" name="customerName" id="cN">
                </div>
                <div class="form-group">
                    <label for="orderDate">Tellimuste kuupäev:</label>
                    <input type="text" class="form-control" id="orderDate" name="daterange" placeholder="kas kuupäev või vahemik">
                </div>
                <div class="form-group">
                    <label for="whoIsResponsible">Kes tegeles:</label>
                    <select class="form-control" name="whoIsResponsible" id="whoIsResponsible">
                        <option></option>
                        <option>Kiik</option>
                        <option>Mikk</option>
                        <option>Porman</option>
                        <option>Vahur</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="orderStatus">Staatus</label>
                    <select class="form-control" name="orderStatus" id="orderStatus">
                        <option></option>
                        <option>Jaeootel</option>
                        <option>Hulgiootel</option>
                        <option>Jaemüük</option>
                        <option>Hulgimüük</option>
                        <option>Üritustemüük</option>
                    </select>
                </div>

            </form>
            <div class="form-group" style="display: table; margin: 0 auto; padding-top: 5px;">
                <input type="submit" class="btn btn-info" value="Saada päring" form="queryTable">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<hr>

<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-10'>
            <table class='table table-striped'>
                <thead>
                <?php
                     if(!empty($value_sum)):
                 ?>
                <tr>
                    <th class='text-center'>Kliente</th>
                    <th class='text-center'>Tellimusi</th>
                    <th class='text-center'>Ootel tellimusi</th>
                    <th class='text-center'>Summa</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class='text-center'><?php echo htmlspecialchars($value_sum['KlienteKokku']); ?></td>
                    <td class='text-center'><?php echo htmlspecialchars($value_sum['TellimusiKokku']); ?></td>
                    <td class='text-center'><?php echo htmlspecialchars($value_sum['OotelTellimusi']); ?></td>
                    <td class='text-center'><?php echo htmlspecialchars($value_sum['SummaKokku']); ?></td>
                </tr>
                <?php endif; ?>
                </tbody>
            </table>

            <br>

            <table class='table table-striped' id="ordersTable">
            <thead>
            <tr>
                <th style="text-align: center">ID</th>
                <th style="text-align: center">Klient</th>
                <th style="text-align: center">Tellimuse kuupäev</th>
                <th style="text-align: center">Müügi kuupäev</th>
                <th style="text-align: center">Kogus</th>
                <th style="text-align: center">Hind</th>
                <th style="text-align: center">Summa kokku</th>
                <th style="text-align: center">Paki suurus</th>
                <th style="text-align: center">Staatus</th>
                <th style="text-align: center">Kes tegeleb?</th>
                <th>Kommentaarid</th>
            </tr>
            </thead>
            <tbody>
            <?php
                    if(!empty($ourOrders)):
                    foreach ($ourOrders as $id => $order):
            ?>
            <tr>
                <td style="text-align: center"><?php echo htmlspecialchars($order['orderID']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['customerName']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['orderDate']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['saleDate']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['orderAmount']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['priceOfItem']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['sumOfOrder']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['sizeOfPack']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['orderStatus']); ?></td>
                <td style="text-align: center"><?php echo htmlspecialchars($order['whoIsResponsible']); ?></td>
                <td><?php echo htmlspecialchars($order['orderComments']); ?></td>
            </tr>
            <?php
                    endforeach;
                    endif;
                ?>
            </tbody>
            </table>
        </div>
        <div class='col-md-1'></div>
    </div>
</div>
