<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/bootstrap-daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/bootstrap-daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="../node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="../scripts/scripts.js"></script>
        <script type="text/javascript">
            $(function(){
                $('input[name="orderDate"]').daterangepicker({
                    autoUpdateInput: false,
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        cancelLabel: 'Clear',
                        format: 'YYYY-MM-DD'
                    }
                });
            });
        </script>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>
    <body>

        <div id="query-forms" class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div id="query-container" class="container">
                        <h4>Tellimused</h4>
                        <form name="pendingOrders"> <!--onsubmit="showPendingOrders(this.value)"-->
                            <div class="form-group">
                                <label for="customerName">Klient:</label>
                                <input type="text" class="form-control" id="customerName" name="customerName" onclick="showPendingOrders(this.value)">
                                <!--<input type="text" class="form-control" id="customerName" name="customerName">-->
                            </div>
                            <p>OR</p>
                            <!--<div class="form-group has-feedback">-->
                                <!--<label for="dateRange">Kuupäeva vahemik:</label>-->
                                <!--<input type="text" class="form-control" id="dateRange" name="orderDate" onchange="showPendingOrders(this.value)">-->
                                <!--<i class="glyphicon glyphicon-calendar form-control-feedback"></i>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="orderStatus">Staatus:</label>-->
                                <!--<select class="form-control" id="orderStatus" name="orderStatus" onchange="showPendingOrders(this.value)">-->
                                    <!--<option value="1">Ootel</option>-->
                                    <!--<option value="2">Müüdud</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <div class="form-group">
                                <input type="submit" class="btn" value="Saada Päring">
                            </div>
                        </form>
                    </div>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<div id="query-container" class="container">-->
                        <!--<h4>Müügid</h4>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div id="query-container" class="container">-->
                        <!--<h4>Demod</h4>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <hr>
        <div id="txtHint"><b>Tabel peaks tulema siia.</b></div>
    </body>
</html>