<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <title>Tellimused</title>
  </head>
  <body>
      <nav class="navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="dashboard.php">Kuuku tellimused</a>
              </div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="orders.html">Tellimused</a></li>
                  <li><a href="sales.html">Müügid</a></li>
                  <li><a href="demos.html">Demod</a></li>
                  <li><a href="cashbox.html">Kassa</a></li>
              </ul>
          </div>
      </nav>
      
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-4" ></div>
              <div class="col-sm-4">
                  <h3>Tellimused</h3>
                      <form action="insertOrders.php" method="post">
                          <div class="form-group">
                              <label for="customerName">Klient:</label>
                              <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Klient">
                          </div>
                          <div class="form-group">
                              <label for="orderDate">Tellimuse kuupäev:</label>
                              <input type="date" class="form-control" id="orderDate" name="orderDate">
                          </div>
                          <div class="form-group">
                              <label for="orderAmount">Tellitud kogus:</label>
                              <input type="number" class="form-control" id="orderAmount" name="orderAmount" placeholder="Kogus">
                          </div>
                          <div class="form-group">
                              <label for="priceOfItem">Paki hind:</label>
                              <select class="form-control" id="priceOfItem" name="priceOfItem">
                                  <option></option>
                                  <option>2</option>
                                  <option>2.5</option>
                                  <option>3</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="whoIsResponsible">Kes tegeleb:</label>
                              <select class="form-control" id="whoIsResponsible" name="whoIsResponsible">
                                  <option></option>
                                  <option>Kiik</option>
                                  <option>Mikk</option>
                                  <option>Vahur</option>
                                  <option>Porman</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="orderStatus">Staatus:</label>
                              <select class="form-control" id="orderStatus" name="orderStatus">
                                  <option></option>
                                  <option>Ootel</option>
                                  <option>Müüdud</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="orderComments">Lisainfo:</label>
                              <textarea class="form-control" id="orderComments" name="orderComments"></textarea>
                          </div>
                          <div class="form-group">
                              <input type="submit" class="btn" value="Sisesta">
                          </div>
                      </form>
              </div>
              <div class="col-sm-4"></div>
          </div>
      </div>
      
  </body>
</html>