<div class="container-fluid">
<h4>Müükide vormistamine</h4>
    <div class="row">
        <div class="col-md-1"></div>
            <div id="sales-query" class="col-md-10" style="background-color:#f2f2f2;">
            <h3>Müügid</h3>
                <form action="?page=sales" method="POST" class="form-inline">
                    <div class="form-group">
                        <label for="cN">Kliendi nimi:</label>
                        <input type="text" class="form-control" name="customerName" id="cN">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="oD">Tellimuse kuupäev:</label>
                        <input type="text" class="form-control" id="oD" name="daterange" placeholder="kas kuupäev või vahemik">
                        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="sent" value="Otsi" class="btn">
                    </div>
                </form>
            </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-10'>
            <table class='table table-striped'>
                <thead>
                <?php
                     if(!empty($value)):
                 ?>
                <tr>
                    <th>Order</th>
                    <th>Client</th>
                    <th>DateofOrder</th>
                    <th>DateofSale</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Sum</th>
                    <th>Size</th>
                    <th>Status</th>
                    <th>Responsible</th>
                    <th>Comments</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <form id="saleChange" action="?page=makeSales" method="POST">
                            <div class="form-group has-feedback">
                                <input type="hidden" class="form-control" name="id" value="<?php echo htmlspecialchars($value['orderID']); ?>"/>
                                <?php echo htmlspecialchars($value['orderID']); ?>
                            </div>
                        </form>
                    </td>
                    <td><?php echo htmlspecialchars($value['customerName']); ?></td>
                    <td><?php echo htmlspecialchars($value['orderDate']); ?></td>
                    <td>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="singledate" form="saleChange" required/>
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                        </div>
                    </td>
                    <td><?php echo htmlspecialchars($value['orderAmount']); ?></td>
                    <td><?php echo htmlspecialchars($value['priceOfItem']); ?></td>
                    <td><?php echo htmlspecialchars($value['sumOfOrder']); ?></td>
                    <td><?php echo htmlspecialchars($value['sizeOfPack']); ?></td>
                    <td>
                        <select class="form-control" name="statusOfOrder" value="<?php echo htmlspecialchars($value['orderStatus']); ?>" form="saleChange" required>
                        <option value=''><?php echo $value['orderStatus']; ?></option>
                        <option value='Jaemüük'>Jaemüük</option>
                        <option value='Hulgimüük'>Hulgimüük</option>
                        </select>
                    </td>
                    <td><?php echo htmlspecialchars($value['whoIsResponsible']); ?></td>
                    <td><?php echo htmlspecialchars($value['orderComments']); ?></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-danger" value="Muuda" form="saleChange"></td>
                </tr>
                <?php
                    endif;
                ?>
                </tbody>
            </table>
        </div>
        <div class='col-md-1'></div>
    </div>
</div>

<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-10'>
            <?php
                if(!empty($ourSales)):
            ?>
            <p style="color:red;">Müük kinnitatud!</p>
            <table class='table table-striped'>
                <thead>
                <tr>
                    <th>Order</th>
                    <th>Client</th>
                    <th>DateofOrder</th>
                    <th>DateofSale</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Sum</th>
                    <th>Size</th>
                    <th>Status</th>
                    <th>Responsible</th>
                    <th>Comments</th>
                </tr>
                </thead>
                <tbody>
                <?php
                    foreach ($ourSales as $id => $sale):
                ?>
                <tr>
                    <td><?php echo htmlspecialchars($sale['orderID']); ?></td>
                    <td><?php echo htmlspecialchars($sale['customerName']); ?></td>
                    <td><?php echo htmlspecialchars($sale['orderDate']); ?></td>
                    <td><?php echo htmlspecialchars($sale['saleDate']); ?></td>
                    <td><?php echo htmlspecialchars($sale['orderAmount']); ?></td>
                    <td><?php echo htmlspecialchars($sale['priceOfItem']); ?></td>
                    <td><?php echo htmlspecialchars($sale['sumOfOrder']); ?></td>
                    <td><?php echo htmlspecialchars($sale['sizeOfPack']); ?></td>
                    <td><?php echo htmlspecialchars($sale['orderStatus']); ?></td>
                    <td><?php echo htmlspecialchars($sale['whoIsResponsible']); ?></td>
                    <td><?php echo htmlspecialchars($sale['orderComments']); ?></td>
                </tr>
                <?php
                    endforeach;
                    endif;
                ?>
                </tbody>
            </table>
        </div>
        <div class='col-md-1'></div>
    </div>
</div>
