<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <title>Müügid</title>
  </head>
  <body>
      <nav class="navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="sales.html">Kuuku müügid</a>
              </div>
              <ul class="nav navbar-nav">
                  <li><a href="orders.html">Tellimused</a></li>
                  <li><a href="dashboard.php">Kuuku ülevaade</a></li>
                  <li><a href="demos.html">Demod</a></li>
                  <!--<li><a href="cashbox.html">Kassa</a></li>-->
              </ul>
          </div>
      </nav>
      
      <div class="container-fluid">
          <h4>Müükide vormistamine</h4>
          <div class="row">
              <div class="col-md-1"></div>
              <div id="sales-query" class="col-md-10" style="background-color:#f2f2f2;">
                  <h3>Müügid</h3>
                  <form class="form-inline">
                      <div class="form-group">
                          <label for="clientName">Kliendi nimi:</label>
                          <input type="text" class="form-control" id="clientName" name="clientName">
                      </div>
                      <div class="form-group">
                          <label for="orderDate">Tellimuse kuupäev:</label>
                          <input type="date" class="form-control" id="orderDate" name="orderDate">
                      </div>
                      <div class="form-group">
                          <input type="hidden" name="orderStatus" value="orderStatus">
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn">Otsi</button>
                      </div>
                  </form>
              </div>
              <div class="col-md-1"></div>
          </div>
      </div>
      <hr>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-1"></div>
              <div id="sales-query-result" class="col-md-10">
                  <form class="form-inline">
                      <div class="form-group">
                          <label for="orderID">OrderID:</label>
                          <p class="form-control-static">KK000117</p>
                      </div>
                      |
                      <div class="form-group">
                          <label for="clientName">Client:</label>
                          <p class="form-control-static">Klient 1</p>
                      </div>
                      |
                      <div class="form-group">
                          <label for="orderDate">Date:</label>
                          <input type="date" class="form-control" id="orderDate" name="orderDate">
                      </div>
                      |
                      <div class="form-group">
                          <label for="orderAmount">Amount:</label>
                          <p class="form-control-static">10</p>
                      </div>
                      |
                      <div class="form-group">
                          <label for="itemPrice">Price:</label>
                          <p class="form-control-static">2.50</p>
                      </div>
                      |
                      <div class="form-group">
                          <label for="responsible">Responsible:</label>
                          <p class="form-control-static">Üks meist</p>
                      </div>
                      |
                      <div class="form-group">
                          <label for="status">Status:</label>
                          <select class="form-control" id="status" name="orderStatus">
                              <option></option>
                              <option>Ootel</option>
                              <option>Müüdud</option>
                          </select>
                      </div>
                      |
                      <div class="form-group">
                          <label for="responsible">Comments:</label>
                          <p class="form-control-static">Some text</p>
                      </div>
                      <div class="form-group">
                          <!-- seotud nupp -->
                      </div>
                  </form>
                  <button type="submit" id="sales-change-btn" class="btn btn-danger">Muuda!</button>
              </div>
              <div class="col-md-1"></div>
          </div>
      </div>
      <hr>
      <div class="container-fluid">
        <dic class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Müügid</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Client SUM</th>
                            <th>Amount SUM</th>
                            <th>Sold SUM</th>
                            <th>Value SUM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SUM of Clients</td>
                            <td>SUM of Packs</td>
                            <td>Total of Sales</td>
                            <td>Total Value</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Client</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Responsible</th>
                            <th>Status</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Näide 1</td>
                            <td>Näide 1</td>
                            <td>Kuupäeva järgi</td>
                            <td>Näide 1</td>
                            <td>Näide 1</td>
                            <td>Näide 1</td>
                            <td>Näide 1</td>
                            <td>Näide 1</td>
                        </tr>
                        <tr>
                            <td>Näide 2</td>
                            <td>Näide 2</td>
                            <td>Näide 2</td>
                            <td>Näide 2</td>
                            <td>Näide 2</td>
                            <td>Näide 2</td>
                            <td>Näide 2</td>
                            <td>Näide 2</td>
                        </tr>
                        <tr>
                            <td>jne</td>
                            <td>jne</td>
                            <td>jne</td>
                            <td>jne</td>
                            <td>jne</td>
                            <td>jne</td>
                            <td>jne</td>
                            <td>jne</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>  
      
  </body>
</html>