#login-container{
    width: 200px;
    margin-top: 15%;
    padding-bottom: 10px;
    text-align: center;
    background-color: #FDBB4D;
    border-radius: 10px;
}

.checkbox{
    /*margin-left: 5%;*/
}

.btn-kuuku{
    color: #FFFFFF;
    background-color: #673921;
}

.logintext{
    color: #673921;
}

#login-btn-link{
    color: #FFFFFF;
}

#order-container{
    width: auto;
}

#query-container{
    width: auto;
}

#query-forms{
    background-color: #f2f2f2;
    padding-top: 5px;
    
}

#sales-query{
    padding-bottom: 30px;
}

#sales-query-result{
    text-align: center;
}

#sales-change-btn{
    margin-top: 20px;
}

#buttonToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#buttonToTop:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}