#login-container{
    width: 200px;
    margin-top: 15%;
    padding-bottom: 10px;
    text-align: center;
    background-color: #FDBB4D;
    border-radius: 10px;
}

.checkbox{
    /*margin-left: 5%;*/
}

.btn-kuuku{
    color: #FFFFFF;
    background-color: #673921;
}

.logintext{
    color: #673921;
}

/*ajutine*/
#login-btn-link{
    color: #FFFFFF;
}

#order-container{
    width: auto;
}

#query-container{
    width: auto;
}

#query-forms{
    background-color: #f2f2f2;
    padding-top: 5px;
    
}

#sales-query{
    padding-bottom: 30px;
}

#sales-query-result{
    text-align: center;
}

#sales-change-button{
    margin-top: 10px;
}